.effect1:hover{
    background-color: #F8F8F8;
    outline: 1px solid #8A1818 ;
}

.effect1:hover h1{
    color: #8A1818;
}

.effect2:hover{
    background-color: #8A1818;
}

.effect2:hover h1{
    color: #F8F8F8;
}

.forget:hover{
    color: #8A1818;
    cursor: pointer;
    transform: scale(1.2);
}

.social-media-zoom{
    gap: 20px;
}

.social-media-zoom img {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.social-media-zoom img:hover {
  transform: scale(1.5);
}

.change:hover{
    outline: 1px solid white;
    background-color: #8A1818;
}

.change:hover h1{
    color: white;
}